<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="shopping-cart">
                <!-- Title -->
                <p class="shopping-title">
                    You have <label class="text-danger mb-0">{{cartProducts.length}}</label> item(s) in your shopping bag
                </p>
                <div class="item" *ngFor="let item of cartProducts; let index = index">
                    <div class="image">
                        <img src="{{item.item.image}}" class="img-fluid" />
                    </div>
                    <div class="item-detail">
                        <h6>{{item.item.title}}</h6>
                    </div>
                    <div class="total-price font-weight-bold"> {{item.item.price}} </div>
                    <div class="quantity">
                        <button class="btn btn-primary btn-sm plus-btn" type="button" name="button" (click)="addAmount(index)"> <i class="bi bi-plus-lg"></i> </button>
                        <input type="text" class="form-control" (click)="detectChange()" [(ngModel)]="item.quantity" min="1">
                        <button class="btn btn-primary btn-sm minus-btn" type="button" name="button" (click)="minsAmount(index)"> <i class="bi bi-dash-lg"></i> </button>
                    </div>
                    <div class="total-price font-weight-bold"> {{item.item.price * item.quantity}} </div>
                    <div class="buttons">
                        <button class="btn btn-danger btn-sm delete-btn" type="button" name="button" (click)="deleteProduct(index)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                </div>
                <!-- Product #1 -->
                <!-- <div class="item">
                    <div class="buttons">
                        <span class="delete-btn">&times;</span>
                    </div>
                    <div class="image">
                        <img src="https://designmodo.com/demo/shopping-cart/item-1.png" alt="" />
                    </div>
                    <div class="item-detail">
                        <span>Common Projects</span>
                        <span>Bball High</span>
                        <span>White</span>
                    </div>
                    <div class="quantity">
                        <button class="btn btn-primary btn-sm plus-btn" type="button" name="button">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <input type="text" name="name" value="1">
                        <button class="btn btn-primary btn-sm minus-btn" type="button" name="button">
                            <i class="bi bi-dash-lg"></i>
                        </button>
                    </div>
                    <div class="total-price">$549</div>
                </div> -->
                <!-- Product #2 -->
                <!-- <div class="item">
                    <div class="buttons">
                        <span class="delete-btn">&times;</span>
                    </div>
                    <div class="image">
                        <img src="https://designmodo.com/demo/shopping-cart/item-2.png" alt="" />
                    </div>
                    <div class="item-detail">
                        <span>Maison Margiela</span>
                        <span>Future Sneakers</span>
                        <span>White</span>
                    </div>
                    <div class="quantity">
                        <button class="btn btn-primary btn-sm plus-btn" type="button" name="button">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <input type="text" name="name" value="1">
                        <button class="btn btn-primary btn-sm minus-btn" type="button" name="button">
                            <i class="bi bi-dash-lg"></i>
                        </button>
                    </div>
                    <div class="total-price">$870</div>
                </div> -->
                <!-- Product #3 -->
                <!-- <div class="item">
                    <div class="buttons">
                        <span class="delete-btn">&times;</span>
                    </div>
                    <div class="image">
                        <img src="https://designmodo.com/demo/shopping-cart/item-3.png" alt="" />
                    </div>
                    <div class="item-detail">
                        <span>Our Legacy</span>
                        <span>Brushed Scarf</span>
                        <span>Brown</span>
                    </div>
                    <div class="quantity">
                        <button class="btn btn-primary btn-sm plus-btn" type="button" name="button">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <input type="text" name="name" value="1">
                        <button class="btn btn-primary btn-sm minus-btn" type="button" name="button">
                            <i class="bi bi-dash-lg"></i>
                        </button>
                    </div>
                    <div class="total-price">$349</div>
                </div> -->
                <div class="shopping-footer">
                    <button type="button" class="btn btn-danger" (click)="clearCart()"> Empty Cart </button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Summery</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush mb-1">
                        <li class="list-group-item d-flex justify-content-between px-0">
                            <div class="clearfix">
                                <h5 class="mb-0">Total amount</h5>
                            </div>
                            <div class="clearfix">
                                <h5 class="mb-0">$ {{total}}</h5>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix">
                        <button type="button" class="btn btn-success"> Go to checkout </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
