.shopping-cart{
    margin-bottom: 1rem;
    background: #f1f1f1;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 0.5em;
  }
  .shopping-title, .shopping-footer {
    border-bottom: 1px solid #E1E8EE;
    padding: 1.25em 1.75em;
    color: #5E6977;
    font-size: 1.125em;
    font-weight: 600;
  }
  .item {
    padding: 1.25em 1.75em;
    display: flex;
    border-bottom: 1px solid #E1E8EE;
  }
  .item:last-child {border-bottom: none;}
  .shopping-footer {}
  
  .buttons{
    position: relative;
    padding-top: 1.75em;
  }
  .delete-btn,
  .like-btn{
    display: inline-block;
    cursor: pointer;
  }
  .delete-btn{}
  
  .is-active{
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
  @keyframes animate{
    0% {background-position: left;}
    50% {background-position: right;}
    100% {background-position: right;}
  }
  
  .image{margin-right: 20px;width: 50px;}
  .item-detail {
    padding-top: 10px;
    margin-right: 15px;
    width: 300px;
  }
  .item-detail span{
    display: block;
    font-size: 1em;
    color: #43484D;
    font-weight: 400;
  }
  .item-detail span:first-child{
    margin-bottom: 5px;
  }
  .item-detail span:last-child{
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  
  .quantity{
    padding-top: 20px;
    margin-right: 15px;
  }
  .quantity input{display: inline-block;-webkit-appearance: none;border: none;text-align: center;width: 55px;height: 31px;color: #43484D;font-size: 0.975rem;padding: 0.25rem 0.25rem;vertical-align: middle;}
  button[class*=btn] {}
  .minus-btn img{
    margin-bottom: 3px;
  }
  .plus-btn img{
    margin-top: 2px;
  }
  
  button:focus,
  input:focus{
    outline: 0;
  }
  
  .total-price{
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 1em;
    color: #43484D;
    font-weight: 300;
  }
  
  
  /* media queries */
  @media (max-width: 800px) {
    .shopping-cart{
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img{
      width: 50%;
    }
    .image,
    .quantity,
    .item-detail{
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons{
      margin-right: 20px;
    }
  }