<div class="container">
    <div class="row">
        <div class="col-sm-3 mb-1">
            <app-select [data]="allCatgsArr" [title]="'Categories'" (selecedValue)="filterCategory($event)"></app-select>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mr-0" *ngIf="!loadIng">
        <div class="col-xl-3 col-lg-4 col-sm-6 pr-0" *ngFor="let prod of allProdArr">
            <app-product [data]="prod" (prod)="addToCart($event)"></app-product>
        </div>
    </div>
    <div class="text-center w-100 spinner-wrap" *ngIf="loadIng">
        <div class="spinner-body" style="height: 350px">
            <app-spinner></app-spinner>
        </div>
    </div>
</div>