
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap');

:root {
    --font-default: Open Sans, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --font-secondary: Poppins, sans-serif;
    /* --font-primary: font-family: 'Raleway', sans-serif; */
}
/* Colors */
:root {
    --color-default: #0a0d13;
    --color-primary: #0d42ff;
    --color-secondary: #0e1d34;
}
/* Smooth scroll behavior */
:root { scroll-behavior: smooth;}
/* ---- # General ---- */
.p-0 {padding: 0rem !important;}.pr-0 {padding-right: 0 !important;}.pl-5 {padding-left: 5px !important;}
.py-2rem {padding-top: 2rem;padding-bottom: 2rem;}
.mt-50 {margin-top: 50px !important;}
.mr-0 {margin-right: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}.mb-10 {margin-bottom: 10px !important;}.mb-20 {margin-bottom: 20px !important;}.mb-25 {margin-bottom: 25px !important;}.mb-50 {margin-bottom: 50px !important;}
.ml-5 {margin-left: 5px !important;}
.font-200 {font-weight: 200 !important;}
.font-300 {font-weight: 300 !important;}
.font-500 {font-weight: 500 !important;}
.font-600 {font-weight: 600 !important;}
.bg-blue {background-color: #10318b !important;}
.font-italic {font-style: italic !important;}
.text-white {color: #FFFFFF !important;}
.text-brown {color: #c32a4a !important;}
.text-blue {color: #348fd9 !important;}
.position-relative {position: relative;}
.table-display-sm {display: table;width: 100%;height: 100%;}
.table-display-sm-cell {display: table-cell;vertical-align: middle;}
.btn-niramaya {border-radius: 0px;padding-left: 1rem;padding-right: 1rem;color: #fff;}
.btn-simple {background-color: #c32a4a;}
.btn-green {background-color: #21bf73;border-color: #2a9762;}
.btn-green:hover {background-color: #159758;color: #fff;}
.btn-lg-x {padding: 10px 30px;font-size: 16px;}
.col-middle {float: none;margin-left: auto;margin-right: auto;}
.img-responsive {display: block;max-width: 100%;height: auto;}

body {/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;
    font-family: var(--font-default);
    color: var(--color-default);
}
a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: #406aff;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
b, strong {font-weight: bold;}
.heading-style-1 {font-family: 'Raleway', sans-serif;font-weight: 600;margin-bottom: 0.5rem;}
.big-title-1 {font-size: 4rem;font-weight: 300;color: #e1e1e1;}
.big-title-3 {font-size: 2rem;font-weight: 300;color: #e1e1e1;}
.big-title-4 {font-size: 1.5rem;font-weight: 300;color: #0a0d13;margin-bottom: 1.6rem;}
.lead {font-size: 1.15rem;font-weight: 500;margin-bottom: 20px;font-family: 'Raleway', sans-serif;color: #222222;word-spacing: 2px;line-height: 1.7rem;}

.ftco-navbar-light {/*background: rgb(0 0 0 / 80%);*/position: absolute;top: 20px;left: 0;right: 0;z-index: 9;}
@media (max-width: 991.98px) {
    .ftco-navbar-light {background: #000 !important;position: relative;top: 0;}
}
.ftco-navbar-light .navbar-brand {max-width: 195px;padding: 0;}
.ftco-navbar-light .navbar-brand:hover {}
.ftco-navbar-light .navbar-brand img {display: block;max-width: 100%;}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-brand {color: #fff;}
}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {padding-bottom: 10px;}
}
.ftco-navbar-light .navbar-nav .nav-link {font-size: 16px;padding: .9rem 20px .9rem 20px;color: #e4e3e2;font-weight: 600;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.ftco-navbar-light .navbar-nav .nav-link:hover {color: #fff;}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {padding-left: 0;padding-right: 0;padding-top: .5em;padding-bottom: .5em;color: rgba(255, 255, 255, 0.7);}
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {color: #fff;}
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {border: none;background: #fff;-webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);-moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);}
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {position: relative;margin-left: 20px;padding-left: 20px;}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {padding-left: 0;margin-left: 0;}
}
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {position: absolute;content: "";top: 10px;bottom: 10px;left: 0;width: 2px;background: rgba(255, 255, 255, 0.05);}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {display: none;}
}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {color: #fff;border: 1px solid #21bf73;padding-top: .5rem;padding-bottom: .5rem;padding-left: 20px;padding-right: 20px;margin-top: 4px;background: #21bf73;-webkit-border-radius: 0px;-moz-border-radius: 0px;-ms-border-radius: 0px;border-radius: 0px;}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a span {display: inline-block;}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a:hover {color: #3f52e3;background: #fff;border: 1px solid #fff;}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {color: rgba(255, 255, 255, 0.5);color: #fff;}
.ftco-navbar-light .navbar-toggler {border: none;color: rgba(255, 255, 255, 0.5) !important;cursor: pointer;padding-right: 0;text-transform: uppercase;font-size: 16px;letter-spacing: .1em;}
.ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {text-decoration: none;color: #3f52e3;outline: none !important;}
.ftco-navbar-light.scrolled {position: fixed;right: 0;left: 0;top: 0;margin-top: -130px;background: #fff !important;-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);}
@media (max-width: 991.98px) {
    .ftco-navbar-light.scrolled .nav-item > .nav-link {padding-left: 0 !important;padding-right: 0 !important;padding-bottom: 0 !important;}
}
.ftco-navbar-light.scrolled .nav-item.active > a {color: #3f52e3 !important;}
.ftco-navbar-light.scrolled .nav-item.cta > a {padding: 0.5rem 20px .5rem 20px !important;/*color: #fff !important;background: #3f52e3;border: none !important;margin-top: 6px !important;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;border-radius: 5px;*/}
.ftco-navbar-light.scrolled .nav-item.cta > a span {display: inline-block;color: #fff !important;}
.ftco-navbar-light.scrolled .navbar-nav > .nav-item.cta > a {background: #21bf73;border: 1px solid #21bf73;}
.ftco-navbar-light.scrolled .navbar-nav > .nav-item.cta > a:hover {background: #129757;}
@media (max-width: 991.98px) {
    .ftco-navbar-light.scrolled .navbar-nav {background: none;border-radius: 0px;padding-left: 0rem !important;padding-right: 0rem !important;}
}
.ftco-navbar-light.scrolled .navbar-toggler {border: none;color: rgba(0, 0, 0, 0.5) !important;border-color: rgba(0, 0, 0, 0.5) !important;cursor: pointer;padding-right: 0;text-transform: uppercase;font-size: 16px;letter-spacing: .1em;}
.ftco-navbar-light.scrolled .nav-link {color: #000;}
.ftco-navbar-light.scrolled .nav-link:focus,
.ftco-navbar-light.scrolled .nav-link:hover {color: #3f52e3;}
.ftco-navbar-light.scrolled .nav-link.active {color: #3f52e3 !important;}
.ftco-navbar-light.scrolled.awake {margin-top: 0px;-webkit-transition: .3s all ease-out;-o-transition: .3s all ease-out;transition: .3s all ease-out;}
.ftco-navbar-light.sleep {-webkit-transition: .3s all ease-out;-o-transition: .3s all ease-out;transition: .3s all ease-out;}
.ftco-navbar-light.scrolled .navbar-brand {color: #000;}


.ftco-section {position: relative;}
.ftco-section::before, .ftco-section::after {display: table;content: "";}
.ftco-section::after {clear: both;}
@media (min-width: 768px) {
    .ftco-section {padding: 4em 0;}
}
@media (max-width: 767.98px) {
    .ftco-section {padding: 1.6em 0;}
}
@media (min-width: 768px) {
    .page-container {
        /* padding-top: 70px; */
    }
}
.imgBlock{width: 100%;height: 100vh;min-height: 500px;position: relative;overflow: hidden;font-size: 16px;box-shadow: inset 0px 150px 20px -40px rgb(0 0 0 / 50%);}
.imgBlock .overlay {content: "";position: absolute;top: 0;left: 0;z-index: 0;width: 100%;height: 100%;display: block;background-color: #000000;opacity: 0.5;}
.img-parallax {width: 100%;z-index: -1;position: absolute;top: -50%;left: 50%;transform: translate(-50%, -50%);pointer-events: none}
.slide-content {margin-top: -148px;position: relative;}
.slide-content .slide-head {/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;position: relative;display: block;text-align: center;margin: 0px 0px 30px 0px;font-size: 2.5rem;line-height: 3.7rem;color: #ffffff;font-weight: 600;}

.box {background-color: #f4f4f4;color: #f4f4f4;padding: 1.5rem 2rem;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.box .box-title {font-size: 2rem;font-weight: 600;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.box .sub-title {font-size: 1.1rem;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.box-1 {background-color: #b10e43;}
.box-2 {background-color: #446ddf;}
.box-3 {background-color: #10318b;}

.section {}
.section-heading {margin: 0rem 0rem 4rem 0rem;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.section-title {position: relative;display: block;text-align: center;color: #333;font-weight: 600;}
.section-title.h1-heading {}
.section-title.h2-heading {font-size: 2.8rem;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.section-title.h3-heading {font-size: 2.1rem;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.section-title.h4-heading {font-size: 2.5rem;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.section-body {}


.section-overlay {position: relative;}
.section-overlay .imgBlock::before {content: '';position: absolute;background-color: #000;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;opacity: 0.8;z-index: 1;}
.section-overlay .imgBlock::after {}
.section-overlay .imgBlock {height: auto;}

.card {display: block;border: 1px solid #e7e7e7;}
.card-img-top {display: block;max-width: 100%;height: auto;}
.card-body {position: relative;padding: 20px 20px;}
.card-body::before, card-body::after {content: '';display: table;}
.card-body::after {clear: both;}
.card-style-1 {text-decoration: none;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;-webkit-box-shadow: 0px 13px 8px -10px #d7d7d7;box-shadow: 0px 13px 8px -10px #d7d7d7;border: none;border-radius: 0px;overflow: hidden;}
.card-style-1:hover {text-decoration: none;}
.card-style-1 .card-body .card-title {color: #000000;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;font-size: 1.1rem;}
.card-description {}
.card-description .comment {margin-left: 20px;font-size: 14px;}
.card-hr {}

.accordion-panel {box-shadow: none;border-bottom: 1px solid #d5d5d5;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.accordion-panel:last-child {border-bottom: none;}
.wrap-collapse {}
.wrap-collapse .text-content {width: 80%;float: left;}
.wrap-collapse .button-content {float: right;}
.dateTime-heading {color: #333333;}
.dateTime-heading .date {font-size: 40px;float: left;line-height: 50px;margin-right: 1rem;}
.dateTime-heading .time {float: left;line-height: 20px;margin-top: 5px;}
.dateTime-heading .time .week, .dateTime-heading .time .month {display: block;clear: both;font-size: 14px;}
.dateTime-heading .time .week {color: #999;}
.dateTime-heading .time .month {}
.dateTime-heading .title {float: left;margin-left: 20px;}
.dateTime-heading .title .main-title {font-size: 25px;font-weight: 400;line-height: 47px;display: inline-block;}
.dateTime-heading .title .dragLine {}
.dateTime-heading .title .mini-title {font-size: 16px;font-weight: 400;}
.dateTime-heading .title .title-arrow {font-size: 25px;display: none;}

.accordion-heading {padding: 2rem 0rem;}
.accordion-heading:hover {cursor: pointer;}
.accordion-heading:hover .dateTime-heading .date, .accordion-heading:hover .dateTime-heading .time {width: 0%;overflow: hidden;margin: 0;}
.accordion-heading:hover .dateTime-heading .title {margin-left: 0px;color: #9f0808;}
.accordion-heading:hover .dateTime-heading .title .dragLine, .accordion-heading:hover .dateTime-heading .title .mini-title {display: none;}
.accordion-heading:hover .dateTime-heading .title .title-arrow {display: inline-block;margin-left: 10px;}

.outer-wrap {}
.outer-wrap .outer-title {font-size: 3rem;font-weight: 600;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.outer-wrap .outer-small-title {font-size: 1.8rem;font-weight: 500;line-height: 35px;margin-bottom: 2rem;/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}
.outer-wrap .btn-outer {/*font-family: 'Montserrat', sans-serif;*/font-family: 'Raleway', sans-serif;}

/* Scrollup */
.scrollup{width: 40px;height: 40px;display: none;position: fixed;z-index: 999;bottom: 20px;right: 40px;font-size: 20px;line-height: 40px;text-align: center;color: #fff;border-radius: 4px;background-color: #c32a4a;}
.scrollup:hover{opacity:0.8;color: #ffffff;}

.page-holder {background-image: none !important;background-color: #263846;position: absolute;width: 100%;min-height: 100%;top: 0;left: 0;background-size: cover;background-position: center;z-index: 0;overflow: hidden;}
/* .page-holder.overlay:before {position: absolute;content: '';background: rgba(0,0,0,0.25);top: 0;bottom: 0;left: 0;right: 0;z-index: 0;} */
/* .page-holder.overlay-2:before {background: #071d2e;opacity: 0.7;} */
.page-holder-title {position: relative;}
.page-holder-title h1, .page-holder-title p {font-family: 'Raleway', sans-serif;}
.page-holder-title h1 {font-size: 2.5rem;margin-bottom: 15px;}
.page-holder-title p.lead {margin-bottom: 1.5rem;}
@media (min-width: 991.98px) {
    .page-holder-title {padding-top: 4rem;}
    .perpendicular {width: max-content;position:relative;
        top: 50%;
        left: 50%;
        /*-webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;*/
        /*-webkit-transform: translate(-50%, 350px) rotate(-90deg);
        -ms-transform: translate(-50%, 350px) rotate(-90deg);
        transform: translate(-50%, 350px) rotate(-90deg);*/
        line-height:0
    }
    .perpendicular h2 {font-size: 4.7rem;font-weight: 600;text-transform: capitalize;margin: 0;color: #e1e1e1;font-family: 'Raleway', sans-serif;}
}


.breadcrumb-style-1 {background-color: transparent;padding: 0;}
.breadcrumb-style-1 li a {color: #e4e3e2;}
.breadcrumb-style-1 .breadcrumb-item+.breadcrumb-item::before {color: #a9adb1;}
.breadcrumb-style-1 .breadcrumb-item {color: #ffffff;}

.figure-box {position: relative;}
.figure-box a.view-action {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 3;text-indent: 200%;white-space: nowrap;font-size: 0;opacity: 0;}
.figure-box .figure-caption {padding: 1rem;}
.effect-milo {overflow: hidden;margin-bottom: 15px;border-radius: 7px;}
.effect-milo .figure-img::before {content: '';position: absolute;top: 0%;left: 0;width: 100%;height: 100%;z-index: 1;
    background: -webkit-linear-gradient(top, transparent 50%, rgb(0 0 0 / 90%) 70%);
    background: linear-gradient(to bottom, transparent 50%, rgb(0 0 0 / 90%) 70%);
}
/* .effect-milo:hover .figure-img::before {top: 0%;} */
.effect-milo .figure-img {overflow: hidden;min-height: 278px;max-height: 278px;background-color: #000000;position: relative;margin-bottom: 0;}
.effect-milo img {position: relative;max-width: none;width: -webkit-calc(100% + 10px);width: calc(100% + 10px);opacity: 0.8;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(-30px,0,0) scale(1.12);transform: translate3d(-30px,0,0) scale(1.12);-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.effect-milo:hover img {opacity: 1;-webkit-transform: translate3d(0,0,0) scale(1);transform: translate3d(0,0,0) scale(1);}
.effect-milo .figure-caption {position: absolute;left: 0;right: 0;bottom: 0;color: #FFFFFF;z-index: 3;
    -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
}
.effect-milo:hover .figure-caption {bottom: 5%;}
.effect-milo .figure-caption p {display: none;overflow: hidden;height: 24px;line-height: 24px;margin: 0;font-family: 'Raleway', sans-serif;font-size: 15px;
    -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
}
.effect-milo:hover .figure-caption p {height: 50px;white-space: normal;
    -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
}
.effect-milo .figure-caption .figure-title {font-size: 18px;line-height: 25px;font-weight: 600;font-family: 'Raleway', sans-serif;margin-bottom: 10px;}
.effect-milo .figure-img .view-icon {position: absolute;z-index: 1;font-size: 17px;font-weight: 600;opacity: 0;top: 70%;left: 50%;transform: translate(-50%, -50%);color: #ebebeb;background-color: #c32a4a;width: 100px;height: 40px;line-height: 40px;border-radius: 6px;text-align: center;
    -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
}
.effect-milo:hover .figure-img .view-icon {top: 50%;opacity: 1;}
.figure-caption::before, .figure-caption::after {content: " ";display: table;}
.figure-caption::after {clear: both;}

.blockquote-style-1 {font-size: 20px;font-family: 'Raleway', sans-serif;font-style: italic;margin-bottom: 25px;color: #555555;padding: 15px 15px 15px 20px;border-left: 4px solid #348fd9 ;line-height: 1.6;position: relative;background: #f7f7f7;}
.blockquote-style-1  span{display: block;color: #333333;font-style: normal;font-weight: 700;}



.round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
.round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
.round-btn .icon {padding: 3px;}
.round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
.btn-facebook a {color: #3b5998;padding: 8px 13px;}
.btn-linkedin a {color: #007bb6;}
.btn-twitter a{color: #1c9deb;}
.btn-instagram a{color: #dd3f5c;}
.btn-whatsapp a{color: #155E54;}
.btn-envelop a{color: #D6403A;font-size: 15px; padding: 9px 12px;}
.standard_header .standard_social_links {margin-left: 1rem;}

  /*
  =========================================================================================
                                    footer
  =========================================================================================
  */
  
  .footer-wrap {
    padding-top: 43px;
    background-size: cover;
}

.footer-wrap h3 {color: #fff;font-size: 17px;font-weight: 600;text-transform: uppercase;margin-bottom: 25px;}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #222;
}
footer .second_class{
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}
footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}
footer .first_class p, footer .first_class h3{
    margin: 0 0;
    
}
footer{
    background: #333;
}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #fff;
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .second_class_bdr{
    padding-top: 25px;
    border-top:1px solid #222;
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;}

footer .round-btn {
    margin: 15px 4px;}
	
footer dl, ol, ul {
    padding-left: 5px;
}
	footer li{
		list-style: none;
	}

@media(max-width:768px){
    .footer-wrap h3 {
    margin-top: 27px;}
    
    footer .round-btn {
    margin: 15px 4px;}
}
@media(max-width:320px){
.copyright {
    font-size: 13px;}
}


.well-wrap {box-shadow: 0px 3px 3px -1px rgb(10 22 70 / 10%), 0px 0px 1px 0px rgb(10 22 70 / 6%) !important;padding: 30px;background-color: #f7f7f7;border: 1px solid #efefef;margin-bottom: 30px;border-radius: 5px;}
.well-wrap-lg {}
.well-wrap .well-body.well-collapse {overflow: hidden;height: 375px;display: block;}
.well-collapse.collapse.show {height: auto;}
.well-wrap .well-footer {}
.well-wrap .well-control {text-align: right;margin-top: 15px;}

.nav-disc {font-size: 1.15rem;}
.nav-disc li {list-style-type: disc;font-family: 'Raleway', sans-serif;}

/* PRELOADER CSS */
.page-loader {width: 100%;height: 100%;font-family: 'Raleway', sans-serif;position: fixed;background: #e5e5e5;z-index: 11;top: 0;right: 0;bottom: 0;left: 0;}
.page-loader .loader-body {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-loader .txt {color: #151416;text-align: center;top: 40%;position: relative;font-weight: bold;line-height: 1.5;}

.loader-body .loader-spin {
    width: 80px;height: 80px;margin: 0 auto;margin-bottom: 20px;border-radius: 50%;
    border-style: solid;border-width: 5px;
    border-top-color: #3490d9;border-right-color: #3490d9;
    border-bottom-color: #151416;border-left-color: #151416;
    -webkit-animation: spinLoader 1s linear infinite;animation: spinLoader 1s linear infinite;
}

@-webkit-keyframes spinLoader {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes spinLoader {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}







