
.p-0 {padding: 0rem !important;}
.pr-0 {padding-right: 0 !important;}
.mt-50 {margin-top: 50px !important;}
.mr-0 {margin-right: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}
.font-500 {font-weight: 500 !important;}
.bg-blue {background-color: #10318b !important;}
.font-italic {font-style: italic !important;}
.text-white {color: #FFFFFF !important;}
.position-relative {position: relative;}
.table-display-sm {display: table;width: 100%;}
.table-display-sm-cell {display: table-cell;vertical-align: middle;float: none;}

/* PRELOADER CSS */
.page-loader {width: 100%;height: 100%;position: fixed;background: #272727;z-index: 1050;top: 0;right: 0;bottom: 0;left: 0;}
.page-loader .txt {color: #666;text-align: center;top: 40%;position: relative;text-transform: uppercase;letter-spacing: 0.3rem;font-weight: bold;line-height: 1.5;}
/* SPINNER ANIMATION */
.spinner {position: relative;top: 35%;width: 80px;height: 80px;margin: 0 auto;background-color: #fff;border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
    0% {-webkit-transform: scale(0);}
    100% {-webkit-transform: scale(1);opacity: 0;}
}
@keyframes sk-scaleout {
    0% {-webkit-transform: scale(0);transform: scale(0);}
    100% {-webkit-transform: scale(1);transform: scale(1);opacity: 0;}
}

.nav-custom {position: relative;}
.navbar-custom {margin-bottom: 0px;border: none;background-color: #ffffff;}
.navbar-custom .navbar-brand {height: auto;padding: 0px;}
.navbar-custom .navbar-brand img {max-height: 50px;}
.navbar-custom .navbar-nav>li>a {color: #3590d9;}
.nav-avator {position: relative;}
.nav-donate {}
.btn-donate {border-radius: 0;background-color: #e70c0c;border-color: #9f0808;}
.btn-donate:hover {background-color: #b10c0c;border-color: #9f0808;}
.btn-donate:focus {background-color: #b10c0c;border-color: #9f0808;}
.btn-donate:active {background-color: #b10c0c;border-color: #9f0808;}
.btn-donate:active:focus {background-color: #b10c0c;border-color: #9f0808;}

@media (min-width: 992px) {
    .nav-custom {}
}
@media (min-width: 768px) {
    .nav-donate {position: absolute;top: 0;right: 15px;}
    .btn-donate {height: 50px;}
}

@media (min-width: 768px) {
    .page-container {
        padding-top: 50px;
    }
}

.slide-content .slide-head {position: relative;display: block;text-align: center;margin: 0px 0px 80px 0px;font-size: 5.5rem;color: #ffffff;font-weight: 600;}

.imgBlock{width: 100%;height: 100vh;min-height: 650px; position: relative;overflow: hidden;font-size: 16px;}
.img-parallax {width: 100%;z-index: -1;position: absolute;top: -50%;left: 50%;transform: translate(-50%, -50%);pointer-events: none}

.slide-content {margin-top: -201px;position: relative;}
.box {background-color: #f4f4f4;color: #f4f4f4;padding: 2rem;}
.box .box-title {font-size: 4rem;font-weight: 600;}
.box .sub-title {font-size: 1.8rem;}
.box-1 {background-color: #b10e43;}
.box-2 {background-color: #446ddf;}
.box-3 {background-color: #10318b;}

.section {}
.section-heading {margin: 0rem 0rem 5rem 0rem;}
.section-title {position: relative;display: block;text-align: center;color: #333;font-weight: 600;}
.section-title.h1-heading {}
.section-title.h2-heading {font-size: 5.5rem;}
.section-title.h3-heading {font-size: 3.5rem;}
.section-title.h4-heading {font-size: 5.5rem;}
.section-body {}
@media (min-width: 768px) {
    .section {padding: 5rem 0rem;}
}

.card {display: block;border: 1px solid #e7e7e7;}
.card-img-top {display: block;max-width: 100%;height: auto;}
.card-body {position: relative;padding: 15px 15px;}
.card-body::before, card-body::after {content: '';display: table;}
.card-body::after {clear: both;}


.accordion-panel {box-shadow: none;border-bottom: 1px solid #d5d5d5;}
.accordion-heading {padding: 3rem 0rem;}
.wrap-collapse {}
.wrap-collapse .text-content {float: left;}
.wrap-collapse .button-content {float: right;}
.dateTime-heading {}
.dateTime-heading .date {font-size: 4rem;float: left;line-height: 50px;margin-right: 1rem;}
.dateTime-heading .time {float: left;line-height: 20px;margin-top: 5px;}
.dateTime-heading .time .week, .dateTime-heading .time .month {display: block;clear: both;font-size: 14px;}
.dateTime-heading .time .week {color: #999;}
.dateTime-heading .time .month {}
.dateTime-heading .title {float: left;font-size: 2.5rem;margin-left: 2.5rem;line-height: 47px;}
.dateTime-heading .title span {font-size: 1.6rem;}

.outer-wrap {}
.outer-wrap .outer-title {font-size: 5rem;font-weight: 600;}
.outer-wrap .outer-small-title {font-size: 2.8rem;font-weight: 500;line-height: 35px;margin-bottom: 2rem;}
.outer-wrap .btn-outer {}


.footer-Section {}
@media (min-width: 768px) {
    .footer-Section {padding: 8rem 0rem;}
}
.footer-col-item {}
.footer-col-item>h4 {font-size: 20px;font-weight: 600;margin-bottom: 15px;}
.item-quick {}
.item-quick a {display: block;color: #777;font-size: 15px;padding: 8px 0px;text-decoration: none;}
.item-quick a:hover {text-decoration: none;}





