<section class="">
	<div class="container px-4 px-lg-5 my-5">

		<div class="row gx-4 gx-lg-5 align-items-center" *ngIf="!loadIng">
			<div class="col-md-4 col-sm-6 col-6">
                <img class="card-img-top mb-5 mb-md-0" src="{{data.image}}" alt="...">
            </div>
			<div class="col-md-8 col-sm-12 col-12">
                <div class="prod-wrap">
                    <div class="small mb-1 font-weight-bold text-info text-uppercase">{{data.category}}</div>
                    <h1 class="display-5 fw-bolder prod-title">{{data.title}}</h1>
                    <div class="prod-rating">
                        <span>{{data.rating.rate}} Ratings</span>
                        <span> & </span>
                        <span>{{data.rating.count}} Count </span>
                    </div>
                    <div class="prod-price fs-5 my-1"> {{data.price}} </div>
                </div>
				<p class="small text-muted">
                    <span>Description</span>
                    <br>
                    {{data.description}}
                </p>
			</div>
		</div>

        <div class="text-center w-100 spinner-wrap" *ngIf="loadIng">
            <div class="spinner-body" style="height: 350px">
                <app-spinner></app-spinner>
            </div>
        </div>

	</div>
</section>