<div class="card card-player">
    <div routerLink="/details/{{data.id}}" style="cursor: pointer;">
        <div class="display-table">
            <div class="display-table-cell img-wrap">
                <img src="{{data.image}}" class="rounded img-fluid img-manage" title="{{data.title}}">
            </div>
        </div>
        <div class="card-body pb-0">
            <h4 class="card-title title" title="{{data.title}}">{{data.title}}</h4>
            <p class="category text-primary">{{data.category}}</p>
            <p class="card-text description">{{data.description}}</p>
            <h5 class="card-title">{{data.price}}</h5>
        </div>
    </div>
    <div class="px-3 pb-3">
        <button type="button" class="btn btn-primary btn-sm btn-block" *ngIf="!addButton" (click)="addButton = true">Add to cart</button>
        <div class="d-flex w-100" *ngIf="addButton">
            <input type="number" class="form-control" [(ngModel)]="amount">
            <button class="btn btn-danger btn-sm" (click)="add();addButton = false">Add</button>
        </div>
    </div>
</div>